.error-container {
    margin-top: 10%;
}

.error {
  font-size: 100px;
  font-weight: 900;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 40px;
  margin: 0;
}
