<header style="width: 80vw;margin-left: 20vw;"><img src="../assets/img/Header.jpg" alt="Italian Trulli"></header>
<!-- left -->
<div class="menu">
    <img src="../assets/../assets/img/mfu-logo.png">
    <p>Mae Fah Luang University</p>
    <div class="x-line"></div>
    <ul>
        <li><a href="#" class="">Home</a></li>
        <li><a href="#" class="">Rule in exam</a></li>
        <li><a href="#" class="">Rule controll exam</a></li>
        <li><a href="#" class="">Back</a></li>
    </ul>
</div>
<div class="x-line"></div>

<!-- right -->

<div style="width:80vw;margin-left: 20vw;">

  <router-outlet></router-outlet>
   
</div>

<!-- end right -->

